.layui-layer-iframe {
  .layui-layer-btn {
    .layui-layer-btn0 {
      border-color: #009688 !important;
      background-color: #009688 !important;
    }
  }
}

.layui-layer-btn .layui-layer-btn0{
  border-color: #009688 !important;
  background-color: #009688 !important;
}

.form-file-img{
  margin: 8px;
  width: 20%;
  display: block;
}