{{extend 'admin/layout/index.html'}}

<!--后置css样式开始-->
{{block 'after-css'}}
<style>
    .layui-table-cell {
        height: auto;
    }
    .layui-table-cell img{
        display: block;
        margin: 0 auto;
    }
</style>
{{/block}}
<!--后置css样式结束-->

<!--中间内容开始-->
{{block 'content'}}
<div class="layui-fluid">
  <div class="layui-card">

    <!--搜索框开始-->
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class='layui-inline'>
          <label class='layui-form-label'>ID</label>
          <div class='layui-input-inline'>
            <input type='text' name='id' placeholder='请输入' autocomplete='off' class='layui-input' data-where="in">
          </div>
        </div>
        <div class='layui-inline'>
          <label class='layui-form-label'>名称</label>
          <div class='layui-input-inline'>
            <input type='text' name='nick_name' placeholder='请输入' autocomplete='off' class='layui-input' data-where="like">
          </div>
        </div>

        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-list" lay-submit id="content-search" lay-filter="content-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
          <button class="layui-btn layuiadmin-btn-order refresh">
            <i class="layui-icon layui-icon-refresh-3 layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    <!--搜索框结束-->

    <!--数据展示开始-->
    <div class="layui-card-body">
      <!--表格数据内容开始-->
      <table id="content-table" lay-filter="content-table"></table>
      <!--表格数据内容结束-->

      <!--数据表格头部工具栏开始-->
      <script type="text/html" id="content-toolbar">
        <button class="layui-btn  layui-btn-sm" lay-event="create"><i class="layui-icon layui-icon-destory"></i>添加</button>
      </script>
      <!--数据表格头部工具栏结束-->

      <!--对这条数据进行操作的操作栏开始-->
      <script type="text/html" id="content-tool">
        <button class="layui-btn  layui-btn-sm" lay-event="edit">编辑</button>
        <button class="layui-btn  layui-btn-sm" lay-event="destory">删除</button>
      </script>
      <!--对这条数据进行操作的操作栏结束-->
    </div>
    <!--数据展示结束-->
  </div>
</div>
{{/block}}
<!--中间内容结束-->

<!--之后JavaScript开始-->
{{block 'after-js'}}
<script>
  /**
   * 监听搜索按钮
   */
  form.on('submit(content-search)', function (data) {
    //执行重载
    table.reload('content-table', {
      where: {'where': queryConversion()},
    });
  });

  /**
   * 准备表单
   */
  table.render({
    elem         : "#content-table",
    url          : "/api/content/index",
    toolbar      : '#content-toolbar',
    cellMinWidth :80,
    cols: [[
      {field: "id",          title: "id" ,                     width: 70},
      {field: "title",       title: "标题",                     minWidth: 150},
      {                      title: "分类",                     width: 80,   templet: function(d) {let str = '';d.categories.forEach((item) => {str += `<span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green">${item.name}</span>`});return str;}},
      {                      title: "作者",                     width: 80,      templet: '<div>{{!d.user.nick_name}}</div>' },
      {                      title: "点击量|评论量|点赞量|评论量",  width: 220,   templet: '<div><span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green">{{!d.hits_count}}</span><span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green">{{!d.comment_count}}</span><span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green">{{!d.like_count}}</span><span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green">{{!d.favorites_count}}</span></div>'},
      {                      title: "关键字|来源|摘要|缩略图",     width: 200,    templet: function(d){let str = '';[d.keywords, d.source, d.excerpt, d.thumbnail].forEach((itme) => {if(itme){str += `<span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green"><i class="layui-icon layui-icon-ok"></i></span>`}else{str += `<span class="layui-btn layui-btn-xs "><i class="layui-icon layui-icon-close"></i></span>`}});return str;} , align: "center"},
      {                      title: "发布|置顶|重点|评论",        width: 200,    templet: function(d){var json = {1: '<span class="layui-btn layui-btn-xs layui-btn-primary layui-border-red"><i class="layui-icon layui-icon-close"></i></span>', 2: '<span class="layui-btn layui-btn-xs layui-btn-primary layui-border-green"><i class="layui-icon layui-icon-ok "></i></span>',};return `${json[d.status]} ${json[d.is_top]} ${json[d.is_recommended]} ${json[d.comment_status]}`} , align: "center"},
      {field: "created_at",  title: "创建时间",                  width: 180  },
      {                      title: "操作",                     width: 150   , align: "center", fixed: "right", toolbar: "#content-tool"}
    ]],
    page: !0,
    limit: 20,
    limits: [20, 50, 100],
    text: "对不起，加载出现异常！",
  });

  /**
   * 监听表格操作工具栏
   */
  table.on('tool(content-table)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data     = obj.data;                    //获得当前行数据
    var layEvent = obj.event;                   //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var dataId   = data.id;                     //id

    /**
     * 编辑方法开始
     */
    if (layEvent === 'edit') { //编辑
      zfPopupForm(
        '/admin/content/'+dataId+'/edit',
        '/api/content/'+dataId,
        'content-update-submit',
        'content-table',
        '内容编辑',
        '700px',
        '750px',
        'PUT'
      )
    }

    /**
     * 删除方法开始
     */
    if (layEvent === 'destory') {
      zfDestroy('/api/content/destroy', {where: {id: {'in': dataId}}}, obj)
    }
  })

  /**
   * 监听表格头部工具栏
   */
  table.on('toolbar(content-table)',function(obj){
    var data     = obj.data;                  //获得当前行数据
    var layEvent = obj.event;                 //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    /**
     * 添加数据的方法
     */
    if(layEvent === 'create'){
      zfPopupForm(
        '/admin/content/create',
        '/api/content/create',
        'content-store-submit',
        'content-table',
        '内容创建',
        '700px',
        '750px',
      )
    }
  })

</script>
{{/block}}
<!--之后JavaScript结束-->