{{extend 'admin/layout/index.html'}}

<!--后置css样式开始-->
{{block 'after-css'}}
<style>
    body {
        background: #fff;
    }
    .layui-fluid {
        padding: 0px;
    }
    .layui-table-cell {
        height: auto;
    }
    .layui-table-cell img{
        display: block;
        margin: 0 auto;
    }
</style>
{{/block}}
<!--后置css样式结束-->

<!--中间内容开始-->
{{block 'content'}}
<div class="layui-fluid">
  <div class="layui-card">
    <!--数据展示开始-->
    <div class="layui-card-body">

      <!--上传图片开始-->
      <button lay-event="create" data-id="images" lay-data="{url:'/api/slide-item/create?type=images&slide_id={{id}}',accept:'images'}" style="margin-bottom: 8px;" type="button" class="zf-upload-files layui-btn layui-btn-xs">
        <i class="layui-icon layui-icon-destory"></i>上传图片
      </button>
      <!--上传图片结束-->

      <!--表格数据内容开始-->
      <table id="slide-item-table" lay-filter="slide-item-table"></table>
      <!--表格数据内容结束-->

      <!--对这条数据进行操作的操作栏开始-->
      <script type="text/html" id="slide-item-tool">
        <button class="layui-btn  layui-btn-sm" lay-event="destory">删除</button>
      </script>
      <!--对这条数据进行操作的操作栏结束-->
    </div>
    <!--数据展示结束-->
  </div>
</div>
{{/block}}
<!--中间内容结束-->

<!--之后JavaScript开始-->
{{block 'after-js'}}
<script>
  table.render({
    url     : '/api/slide-item/index',
    elem    : '#slide-item-table',
    toolbar : '#slide-item-toolbar',
    limit   : 99999999999,
    where   : {'where': {slide_id:'{"in":"{{id}}"}'}},
    cols: [[
      {field:'list_order',title:'排序',     width: 90,     edit:'text'},
      {                   title: "",       templet: '<div><img src="{{!d.path}}" alt=""></div>' , style: 'height:78px' ,  width: 150},
      {field:'path',      title:'图片路径',  minWidth: 150},
      {field:'url',       title:'点击链接',  minWidth: 150, edit:'text'},
      {field:'title',     title:'图片名称',  minWidth: 150, edit:'text'},
      {field:'content',   title:'图片描述',  minWidth:50,   edit:'text'},
      {field:'target',    title:'打开方式',  width:100,     templet:function (d){if (d.target == 'self') {return `<input type="checkbox" data-id="${d.id}" name="target" lay-filter="tableSwitch" lay-skin="switch" lay-text="self|blank" value="blank" checked>`} else {return `<input type="checkbox" data-id="${d.id}" name="target" lay-filter="tableSwitch" lay-skin="switch" lay-text="self|blank" value="self">`}}},
      {field:'status',    title:'状态',     width:100,     templet:function (d){if (d.status == 2) {return `<input type="checkbox" data-id="${d.id}" name="status" lay-filter="tableSwitch" lay-skin="switch" lay-text="开|关" value="1" checked>`} else {return `<input type="checkbox" data-id="${d.id}" name="status" lay-filter="tableSwitch" lay-skin="switch" lay-text="开|关" value="2">`}}},
      {                   title:'操作',     width:100,     toolbar: "#slide-item-tool"}
    ]]
  });

  /**
   * edit编辑事件监听
   */
  table.on('edit(slide-item-table)', function(obj){
    var value = obj.value,  //得到修改后的值
        data  = obj.data,   //得到所在行所有键值
        field = obj.field;  //得到字段

    ajaxSlideItem(field, value, `/api/slide-item/${data.id}`, 'slide-item-table')
  });

  /**
   * 监听表格操作工具栏
   */
  table.on('tool(slide-item-table)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data     = obj.data;                    //获得当前行数据
    var layEvent = obj.event;                   //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var dataId   = data.id;                     //id

    /**
     * 删除方法开始
     */
    if (layEvent === 'destory') {
      zfDestroy('/api/slide-item/destroy', {where: {id: {'in': dataId}}}, obj)
    }
  })

  /**
   * 表格开关管理
   */
  form.on('switch(tableSwitch)', function(data){
    var id    = $(data.elem).data('id')
    var name  = $(data.elem).attr('name')
    var value = $(data.elem).val()

    ajaxSlideItem(name, value, `/api/slide-item/${id}`, 'slide-item-table')
  });


</script>
{{/block}}
<!--之后JavaScript结束-->
