<meta charset="utf-8">
<title>layuiAdmin std - 通用后台管理模板系统（iframe版）</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="/public/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/public/layuiadmin/style/admin.css" media="all">
<link rel="stylesheet" href="/public/layuiadmin/style/login.css" media="all">
<link rel="stylesheet" href="/public/css/app.css" media="all">
<!--后置css样式开始-->
{{block 'after-css'}}{{/block}}
<!--后置css样式结束-->