<div class="layui-header">
  <!--左侧结束  -->
  <ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item layadmin-flexible" lay-unselect>
      <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
      </a>
    </li>
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <a href="http://www.baidu.com/" target="_blank" title="前台">
        <i class="layui-icon layui-icon-website"></i>
      </a>
    </li>
    <li class="layui-nav-item" lay-unselect>
      <a href="javascript:;" layadmin-event="refresh" title="刷新">
        <i class="layui-icon layui-icon-refresh-3"></i>
      </a>
    </li>
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
    </li>
  </ul>
  <!--左侧开始-->

  <!--右侧开始-->
  <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
    <!--铃铛开始-->
    <li class="layui-nav-item" lay-unselect>
      <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
        <i class="layui-icon layui-icon-notice"></i>
        <span class="layui-badge-dot"></span>
      </a>
    </li>
    <!--铃铛结束-->

    <!--配色开始-->
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <a href="javascript:;" layadmin-event="theme">
        <i class="layui-icon layui-icon-theme"></i>
      </a>
    </li>
    <!--配色结束-->

    <!--标签开始-->
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <a href="javascript:;" layadmin-event="note">
        <i class="layui-icon layui-icon-note"></i>
      </a>
    </li>
    <!--标签结束-->

    <!--全屏开始-->
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <a href="javascript:;" layadmin-event="fullscreen">
        <i class="layui-icon layui-icon-screen-full"></i>
      </a>
    </li>
    <!--全屏结束-->

    <!--用户个人中心开始-->
    <li class="layui-nav-item" lay-unselect>
      <a href="javascript:;">
        <cite>tester</cite>
      </a>
      <dl class="layui-nav-child">
        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
        <hr>
        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
      </dl>
    </li>
    <!--用户个人中心结束-->

    <!--更多开始-->
    <li class="layui-nav-item layui-hide-xs" lay-unselect>
      <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
    </li>
    <!--更多结束-->
  </ul>
  <!--右侧结束-->
</div>