<script src="/public/js/wangEditor.min.js"></script>
<script src="/public/layuiadmin/layui/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/ace/1.4.9/ace.min.js"></script>
<script>
  layui.config({
    base: '/public/layuiadmin/' /*静态资源所在路径*/
  }).extend({
    index: 'lib/index' /*主入口模块*/
  }).use(['index'])

  var $         = layui.$;
  var setter    = layui.setter;
  var admin     = layui.admin;
  var form      = layui.form;
  var router    = layui.router();
  var search    = router.search;
  var qs        = parseSearch();
  var table     = layui.table;
  var laydate   = layui.laydate;
  var upload    = layui.upload;
  var treeTable = layui.treeTable;

  /**
   * 前置设置ajax
   */
  $.ajaxSetup({
    cache: false,
    headers: {
      'Authorization' : `Bearer ${localStorage.getItem('token')}`
    }
  });


  /**
   * 提示加跳转
   */
  function msgAndJump(res,fn) {
    if (res.code == 0) {
      if (typeof fn == 'function'){fn(res)}
      //弹出正确消息
      layer.msg(res.msg, {time: 5000, icon: 6})
      //倒计时
      setInterval(function () {
        if (res.url) {
          window.location.href = res.url
        } else {
          location.reload()
        }
      }, 1000)
    } else {
      //弹出错误消息
      layer.msg(res.msg, {time: 5000, icon: 2})
    }
  }

  /**
   * 表单弹出表单
   */
  function zfPopupForm(pageUrl, postUrl, submitID, tableName, title, height = '330px', width = '500px', type = 'POST', maxmin = false) {
    zfPopup = layer.open({
      title   : title,
      type    : 2,
      area    : [width, height],
      maxmin  : maxmin,
      content : window.location.origin + pageUrl,
      btn     : ['确定', '取消'],
      yes     : function (index, layero) {

        var iframeWindow = window['layui-layer-iframe' + index];                    //或如iframe
        var submit       = layero.find('iframe').contents().find('#' + submitID);

        //监听提交
        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
          var field = data.field;     //获取提交的字段

          if (iframeWindow.editor) {
            field.content          = iframeWindow.editor.txt.html()
            field.content_filtered = iframeWindow.editor.txt.text()
          }

          if (iframeWindow.editorCode) {
            field.option = iframeWindow.editorCode.getValue()

            try {
              field.option = JSON.parse(field.option)
            } catch (e){
              layer.msg('数据内容必须是json字符串');return;
            }

            if(typeof field.option === 'number'){
              layer.msg('数据内容必须是json字符串');return;
            }
          }

          //提交 Ajax 成功后，静态更新表格中的数据
          $.ajax({
            url     : postUrl,
            type    : type,
            dataType: 'json',
            data    : field,
            success: function (res) {
              layer.msg(res.msg);
              if(res.code == 0){
                table.reload(tableName);      //刷新表
                try{
                  treeTable.reload(tableName);  //刷新表
                }catch (e){
                  console.log('没有treeTable这个表')
                }
                layer.close(index);   //关闭一个弹框
              }
            }
          })

        });
        submit.trigger('click');
      }
    });

    if (maxmin) {layer.full(zfPopup)}
  }

  /**
   * 删除
   */
  function zfDestroy(url,data, obj) {
    layer.confirm('确定删除这条数据？', function (index) {
      $.ajax({
        url     : window.location.origin + url,
        dataType: "json",
        type    : 'DELETE',
        data    : data,
        async   : true, //异步
        success : function (res) {
          layer.msg(res.msg);
        }
      });
      layer.close(index);         //关闭弹框
      obj.del();                  //删除对应行（tr）的DOM结构，并更新缓存
    });
  }

  /**
   * 删除空属性
   */
  function removeNullProperty(obj) {
    Object.keys(obj).forEach(item => {
      if (!obj[item]) delete obj[item]
    })
    return obj;
  }

  /**
   * 查询参数转换
   */
  function queryConversion() {
    query = {}
    $('.layui-form-item input[name] , .layui-form-item select[name]').each(function (index, item) {
      var val       = $(this).val();
      var inputName = $(this).attr('name');
      var where     = $(this).data('where');

      if ('' != val && '' != inputName) {
        query[inputName] = `{"${where}":"${val}"}`
      }
    });
    return query;
  }

  /**
   * 定义一个函数，用于解析当前 Url 里的参数，
   * 并以 Key-Value 对象形式返回
   * @returns {}
   */
  function parseSearch() {
    //初始化一个空对象
    var searches = {};

    /**
     * location.search 会返回 Url 中 ? 以及后面的查询参数
     * substr(1) 将 ? 去除，然后以符号 & 分割成数组，然后遍历这个数组
     */
    if (location.search != '') {
      location.search.substr(1).split('&').forEach(function (str) {
        var result = str.split('=');
        searches[decodeURIComponent(result[0])] = decodeURIComponent(result[1]);
      });
    }
    return searches;
  }

  /**
   * 根据 Key-Value 对象构建查询参数
   * @param searches
   * @returns {string}
   */
  function buildSearch(searches) {
    var query = '?';
    for (k in searches) {
      query += encodeURIComponent(k) + '=' + encodeURIComponent(searches[k]) + '&';
    }
    return query.substr(0, query.length - 1);
  }

  /**
   * 将新的参数 追加 到url中
   * @param name
   * @param value
   */
  function appendFilterToQuery(name, value) {
    var searches = parseSearch();

    //如果已经有了字段
    if (searches[name]) {
      if (searches[name].indexOf(value) == -1) {
        searches[name] += ',' + value;
      }
      if (value == '') {
        searches[name] =  value;
      }
    } else {
      searches[name] =  value;
    }

    location.search = buildSearch(searches);
  }

  /**
   * 将新的参数 添加 到url中
   * @param name
   * @param value
   */
  function sortAddToQuery(name, value) {
    var searches = parseSearch();
    searches[name] = value;
    location.search = buildSearch(searches);
  }

  /**
   * 变成白色
   */
  if ($('.zf-parent-body-white').length) {
    $('.zf-parent-body-white').parent('body').css('background', '#ffffff')
  }

  /**
   * 刷新页面
   */
  if ($('.refresh').length) {
    $('.refresh').click(function (){
      window.location.reload();
    })
  }

  /**
   *  自定义提交表单方法
   */
  form.on('submit(ajax-post)', function (data) {
    action = $(data.elem).parents('form').attr('action')           //获取表单上的action提交地址
    $.ajax({
      url     : action,
      dataType: "json",
      type    : 'POST',
      data    : data.field,
      async   : true, //异步
      success : function (res) {
        msgAndJump(res, (res) => {
          localStorage.setItem('token', res.data.token)
        })
      }
    });
    return false;
  })

  /**
   * 页面弹出层
   */
  $('.zf-popup').click(function () {
    url    = $(this).data('href')
    title  = $(this).data('title')  || ''
    width  = $(this).data('width')  || '500px'
    height = $(this).data('height') || '400px'

    layer.open({
      title  :title,
      type   : 2,
      area   : [width, height],
      content: window.location.origin+url,
      cancel : function(index, layero){
        location.reload()
      }
    });
  })

  /**
   * 单图上传
   */
  upload.render({
    elem   : '.zf-upload-img',                    //绑定元素
    url    : '/api/upload/index' ,                //上传接口
    number : '1',                                 //上传数量
    size   : '10240',                             //文件大小
    field  : 'file',                              //字段名称
    exts   : 'jpg|jpeg|png',                      //允许格式
    done: function (res, index, upload) {
      if (res.code == 0) {
        id       = $(this.item).data('id');

        $('#' + id).val(res.data.filePath)                    //设置input值
        $('#' + id + '_img').attr('src', res.data.fileUrl)    //设置更新头像路径
      }else{
        layer.msg(res.msg, {time: 5000, icon: 2})
      }
    },
    error: function () {
      layer.msg('出了点错请稍后再试', {time: 5000, icon: 2})
    }
  })

  /**
   * 多图上传开始
   */
  upload.render({
    elem      : '.zf-upload-imgs',
    url       : '/api/upload/index',
    multiple  : true,
    number    : '9',                                 //上传数量
    size      : '10240',                             //文件大小
    field     : 'file',                              //字段名称
    accept    : 'images',                            //所有图片类型
    done: function (res, index, upload) {
      if (res.code == 0) {
        id       = $(this.item).data('id');                       //获取data-id
        moreUl   = $(this.item).prevAll('.zf-upload-imgs-ul');   //获取同级网上列表
        liId     = new  Date().getTime()
        element  = $(`<li id="${id +'-'+ liId}">
                        <input type="hidden" name="${id}_urls[]"  value="${res.data.filePath}">
                        <input type="hidden" name="${id}_names[]" value="${res.data.fileName}">
                        <img src="${res.data.fileUrl}">
                        <a href="javascript:(function(){$('#${id +'-'+ liId}').remove();})();"><i class="layui-icon layui-icon-close"></i></a>
                      </li>`)

        moreUl.append(element)
      }else{
        layer.msg(res.msg, {time: 5000, icon: 2})
      }
    },
  });

  /**
   * 多文件上传开始
   */
  upload.render({
    elem      : '.zf-upload-files',
    multiple  : true,
    number    : '20',                                                   //上传数量
    size      : '10240000',                                            //文件大小
    done: function (res, index, upload) {
      if (res.code == 0) {
        id       = $(this.item).data('id');                        //获取data-id
        moreUl   = $(this.item).prevAll('.zf-upload-files-ul')     //获取同级网上列表
        liId     = new Date().getTime()

        console.log(res)
        if(moreUl) {
          switch (id) {
            case 'images':
              element = $(`<li class="images-li" id="${id + '-' + liId}">
                        <input type="hidden" name="${id}_urls[]"  value="${res.data.filePath}">
                        <input type="hidden" name="${id}_names[]" value="${res.data.fileName}">
                        <img src="${res.data.fileUrl}">
                        <a href="javascript:(function(){$('#${id + '-' + liId}').remove();})();"><i class="layui-icon layui-icon-close"></i></a>
                      </li>`)
              break
            default:
              element = $(`<li class="default-li" id="${id + '-' + liId}">
                        <input type="hidden" name="${id}_urls[]"  value="${res.data.filePath}">
                        <input class="layui-input layui-unselect fl" disabled name="${id}_names[]" value="${res.data.fileName}">
                        <a     class="fl" href="javascript:(function(){$('#${id + '-' + liId}').remove();})();"><i class="layui-icon layui-icon-close"></i></a>
                      </li>`)
              break
          }
          moreUl.append(element)
        }

        table.reload('slide-item-table');

      }else{
        layer.msg(res.msg, {time: 5000, icon: 2})
      }
    },
  });

  /**
   * treeSelect 下拉树状选项框
   */
  function treeSelect(url, el, field, selectData = null, name = 'parent_id', radio = true) {
    $.get({
      url      : url,
      data     : {tree:true},
      dataType : "json",
      async    : true,
      success  : function (res) {
        xmSelect.render({
          el        : el,
          name      : name,
          radio     : radio,            //单选
          clickClose: true,
          tree: {
            show          : true,       //是否显示树状结构
            strict        : false,      //是否严格遵守父子模式
            expandedKeys  : true,       //默认展开节点的数组, 为 true 时, 展开所有节点
            showFolderIcon: true,       //是否展示三角图标
            showLine      : true,       //是否显示虚线
            indent        : 20,         //间距
            simple        : false,      //是否开启极简模式
            clickExpand   : false,      //点击节点是否展开
            clickCheck    : true        //点击节点是否选中
          },
          filterable: true,
          height    : '250px',
          data      : () => {
            if(name == 'parent_id'){
              return xmDefaultSelect([{name: '作为顶级', value: null}].concat(treeFormat(res.data, field)), selectData, name)
            }else{
              return xmDefaultSelect(treeFormat(res.data, field), selectData, name)
            }
          }
        })
      }
    });
  }

  /**
   * 递归选中默认值
   * @param array
   * @param selectData
   * @param name
   * @returns {*}
   */
  function xmDefaultSelect(array, selectData, name) {
    if (selectData) {
      for(var k in array){
        if (selectData instanceof Array) {
          if(selectData.indexOf(array[k].value) != -1){
            array[k].selected = true
          }
        } else {
          if (array[k].value === selectData[name]) {
            array[k].selected = true
          }
        }

        if (array[k].children) {
          xmDefaultSelect(array[k].children, selectData, name)
        }
      }
      return array;
    } else {
      return array;
    }
  }

  /**
   * 数据格式转换
   * @param arr
   * @param field
   * @returns {*[]}
   */
  function treeFormat(arr, field) {
    if (!Array.isArray(arr)) return
    let newTree = []
    arr.map(el => {
      if (el[field] && el[field].length) {
        let childNode = treeFormat(el[field], field)
        newTree.push({
          name    : el.name,
          value   : el.id,
          children: childNode
        })
      } else {
        newTree.push({
          name    : el.name,
          value   : el.id,
        })
      }
    })
    return newTree
  }

  /**
   * ajax 更改路径
   * @param field
   * @param value
   * @param id
   */
  function ajaxSlideItem(field, value, url, tableName) {
    $.ajax({
      url     : url,
      dataType: "json",
      type    : 'PUT',
      data    : {field: field, value: value},
      async   : true, //异步
      success : function (res) {
        table.reload(tableName);
        try{
          treeTable.reload(tableName);  //刷新表
        }catch (e){
          console.log('没有treeTable这个表')
        }
      }
    });
  }

  /**
   * 编辑器管理
   */
  if (document.querySelector('#editor')) {
    editor = new window.wangEditor('#editor')
    editor.config.uploadImgServer   = '/api/upload/wangEditor'        //图片上传配置
    editor.config.uploadVideoServer = '/api/upload/wangEditorVideo'   //视频上传配置
    editor.config.height            = 500
    editor.create()
  }

  /**
   * 代码编辑器
   */
  if (document.querySelector('#editorCode')) {
    ace.config.set("basePath", "https://cdn.bootcdn.net/ajax/libs/ace/1.4.9");
    ace.require("ace/ext/language_tools");
    var editorCode = ace.edit("editorCode");
    editorCode.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      enableLiveAutocompletion: true
    });
    editorCode.setTheme("ace/theme/monokai");
    editorCode.getSession().setMode("ace/mode/json");
  }
</script>