{{extend 'admin/layout/index.html'}}

{{block 'content'}}
<div class="layui-card zf-parent-body-white" style="margin-bottom: 0px;">
  <div class="layui-card-body">
    <form class="layui-form">
      <div class="layui-form-item">
        <label class="layui-form-label">上级：</label>
        <div class="layui-input-block category-tree-select"></div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">名称：</label>
        <div class="layui-input-block">
          <input type="text" name="name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">简介：</label>
        <div class="layui-input-block">
          <input type="text" name="content" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">icon：</label>
        <div class="layui-input-block">
          <input type="text" name="icon" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">href：</label>
        <div class="layui-input-block">
          <input type="text" name="href" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">wx_href：</label>
        <div class="layui-input-block">
          <input type="text" name="wx_href" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
      </div>

      <input type="button" hidden id="nav-item-store-submit" lay-filter="nav-item-store-submit" lay-submit value="确认">
    </form>
  </div>
</div>
{{/block}}

{{block 'after-js'}}
<script>
  treeSelect(`http://localhost:3000/api/nav-item/index?tree=1&where%5Bnav_id%5D=%7B%22in%22%3A%22${qs.nav_id}%22%7D`, '.category-tree-select','children')
</script>
{{/block}}